@page
@model CalculatorModel
<form method="post">
    <input asp-for="FirstNumber" />
    <select asp-for="Operation">
        <option value="Add">Dodawanie</option>
        <option value="Subtract">Odejmowanie</option>
        <option value="Multiply">Mnożenie</option>
        <option value="Divide">Dzielenie</option>
        <option value="Factorial">Silnia</option>
        <option value="Fibonacci">Ciąg Fibonacciego</option>
    </select>
    <input asp-for="SecondNumber" />
    <input type="submit" value="Oblicz" />
</form>
<p>Wynik: @Model.Result</p>
